<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
        </tr>
        <% students.forEach((student,index)=>{ %>
            <tr>
                <td>
                    <a href="/students/<%=index%>">
                    <%=student.name %>
                    </a>
                </td>
                <td>
                    <%=student.age %>
                </td>
                <td>
                    <%=student.class %>
                </td>

            </tr>

            <% }) %>

    </table>
</body>

</html>