<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome <%=name%></h1>
    <p>Age: <%= age %></p>
    <%if(age>=18){%>
     <h2>Adult Student</h2>
    <% } else {%>
     <h2>Minor Student</h2>
   <% } %>
    
</body>
</html>